<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/chat-room.css"/>
    <title>Chat Rooms</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script>
      var socket = io('/rooms');
      var container_body = $('.container-body');
      let userName = '<%=userName%>';
      socket.emit('registerSocketID',userName);
      socket.emit('getRooms');
      socket.on('roomDetails',function(data){
        console.log(data);
        let chatRoomsList = '';
        for(var i of data){
          chatRoomsList += populateChatRooms(i);
        }
        $('.container-body').append(chatRoomsList);
      });

      function populateChatRooms(roomsList){


        return `<a href="/room/<%=userName%>/${roomsList.roomName}"><div id="chatroom-list">
          <table id="list-tbl">
          <tr><td id="content-td">${roomsList.roomName}</td><td id="user-td">users : ${roomsList.users.length}</td><tr>
          </table>
        </div></a>`;
      }

      function addRoom(){
        console.log('clicked');
        var newRoom = {
          roomName:document.getElementById("room-ip-box").value,
          users:[]
        }
        socket.emit('createNewRoom',{roomName:document.getElementById("room-ip-box").value,users:[]});
        $('.container-body').append(populateChatRooms(newRoom));
        document.getElementById("room-ip-box").value = "";
      }
      function logout(){
        window.location.href = "/logout/"+ userName;
      }
    </script>
  </head>
  <body>
    <div id="container">
      <div id="container-head">
        <table id="title-tbl">
          <tr><td id="title-td"><h3>Please select/create chatroom</h3></td><td id="link-td">Hi <%=userName%> !!</td><td id="link-td"><a href="#" onclick="logout()">Logout</a></td></tr>
        </table>
      </div>
      <div id="container-body" class="container-body">
        <!-- <a href="#"><div id="chatroom-list">
          <table id="list-tbl">
          <tr><td id="content-td">Favourite food</td><td id="user-td">users : 2</td><tr>
          </table>
        </div></a> -->
      </div>
      <div id="container-foot">
        <div id="input-box"><input type="text" placeholder="type new room name ...." id="room-ip-box" name="roomName"/></div>
          <div id="create-btn"><button id="room-ip-btn" onclick="addRoom()">create</button></div>
      </div>
    </div>
  </body>
</html>
