<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/inside-room.css"/>
    <title>Chat Rooms</title>
    <style>

    </style>
  </head>
  <body>
    <div id="container">
      <div id="container-head">
        <table id="title-tbl">
          <tr><td id="title-td"><h3>chatroom name</h3></td><td id="link-td"><a href="#">Leave Room</a> | <a href="#">Logout</a></td></tr>
        </table>
      </div>
      <div id="container-body">
        <div id="chat-sec">
          <div id="chatroom-list">
            <div id="msg-header">
              <a href="#" id="msg-user">karthik</a>
              <label id="time-stamp">8.13 pm</label>
            </div>
          I am doing online quiz app in php. I want to restrict user while going back in exam. I have tried following script but it stops my timer. What should I do please suggest me. I have included source code. The timer is stored in cdtimer.js
          </div>
          <div id="chatroom-list">
            <div id="msg-header">
              <a href="#" id="msg-user">karthik</a>
              <label id="time-stamp">8.13 pm</label>
            </div>
          I am doing
          </div>
      </div>
        <div id="user-list-sec">
          <a href="#"><div id="user-name">karthik</div></a>
          <a href="#"><div id="user-name">karthik</div></a>
          <a href="#"><div id="user-name">karthik</div></a>
          <a href="#"><div id="user-name">karthik</div></a>
        </div>
        <!--  -->
      </div>
      <div id="container-foot">
        <div id="input-box"><textarea id="room-ip-box" name="roomName" placeholder="type your msg here ...."></textarea></div>
          <div id="create-btn"><input type="submit" id="room-ip-btn" value="send"/></div>
      </div>
    </div>
  </body>
</html>
