<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/inside-room.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <title>Chat Rooms</title>
    <script>
    var roomName = "<%=roomName%>";
    var userName = "<%=userName%>";
    var userListsHTML = "";
    var socket = io('/chat');
    var joinDetails = {roomName:roomName,userName:userName};
    console.log(joinDetails);
    socket.emit('join',joinDetails);

    function usersListHTMLfn(user){
      return `<a href="#"><div id="user-name">${user}</div></a>`
    }
    let disconnectDetails = {
      roomName:roomName,
      userName:userName
    }
    socket.emit('disconnect',disconnectDetails);

    socket.on('getUserList',function(userLists){
      console.log('userLists : ',userLists);
      for(var user of userLists){
        userListsHTML += usersListHTMLfn(user);
      }
      $('#user-list-sec').html("");
      $('#user-list-sec').html(userListsHTML);
      userListsHTML = "";
    });

    socket.on('receiveMsg',function(msgData){
      $("#chat-sec").append(`
        <div id="chatroom-list">
          <div id="msg-header">
            <a href="#" id="msg-user">${msgData.userName} :</a>
            <label id="time-stamp">${msgData.timeStamp}</label>
          </div>
          ${msgData.msg}
        </div>
        `);
    });

    function sendMsg(){
        let msg = document.getElementById("room-ip-box").value;
        let time = new Date();
        let curTime = time.getHours() + ':' + time.getMinutes();
        let msgData = {
          msg:msg,
          userName:userName,
          timeStamp:curTime,
          roomName:roomName
        }
        $("#chat-sec").append(`
          <div id="self-chatroom-list">
            <div id="msg-header">
              <a href="#" id="msg-user">${msgData.userName} :</a>
              <label id="time-stamp">${msgData.timeStamp}</label>
            </div>
            ${msgData.msg}
          </div>
          `);
        socket.emit('sendMsg',msgData);
        document.getElementById("room-ip-box").value = ""
    }
    </script>
  </head>
  <body>
    <div id="container">
      <div id="container-head">
        <table id="title-tbl">
          <tr><td id="title-td"><h2><%=roomName%></h2></td><td id="link-td"><a href="#">Leave Room</a> | <a href="#">Logout</a></td></tr>
        </table>
      </div>
      <div id="container-body">
        <div id="chat-sec">
          <!-- <div id="chatroom-list">
            <div id="msg-header">
              <a href="#" id="msg-user">karthik</a>
              <label id="time-stamp">8.13 pm</label>
            </div>
           msg
          </div> -->
      </div>
        <div id="user-list-sec">
          <!-- <a href="#"><div id="user-name">karthik</div></a> -->
        </div>
        <!--  -->
      </div>
      <div id="container-foot">
        <div id="input-box"><textarea id="room-ip-box" name="roomName" placeholder="type your msg here ...."></textarea></div>
          <div id="create-btn"><button id="room-ip-btn" onclick="sendMsg()">send<button></div>
      </div>
    </div>
  </body>
</html>
