#container{
    position: absolute;
    /*border: 1px solid grey;*/
    height: 85%;
    width: 40%;
    margin: auto;
    top:0;left: 0;right: 0;bottom: 0;
    /*padding: 2px;*/
    border-radius: 15px;
    box-shadow: 0 10px 35px #888888,5px 10px 15px #888888;
}
#container-head{
  /*border: 1px solid #6699ff;*/
  height: 10%;
  width: 100%;
  border-radius: 15px 15px 0 0px;
  font-style: italic;
  background-color: #6699ff;
  display: block;
}
#container-body a{
  text-decoration: none;
}
#container-body{
  border-bottom: 1px solid #6699ff;
  height: 82%;
  width: 100%;
  overflow-y: auto;
}
#title-td{
  text-overflow: ellipsis;
  max-width: 60%;
  text-align: center;
  color: white;
}
#link-td{
  text-overflow: ellipsis;
  max-width: 20%;
  color: red;
}
#link-td a{
  text-decoration: none;
  color: green;
  font-style: normal;
}
#title-tbl{
  width: 100%;
}
#chatroom-list{
  margin: 10px;
  background: linear-gradient(#e6eeff, #ffffff,#e6eeff);
  /*background: radial-gradient(#ffffff 25%, #e6eeff 75%);*/
  width: 97%;
  border-radius: 30px;
  text-align: center;
  height: 10%;
  /*border: 1px solid black;*/
}
#chatroom-list:hover{
  background: linear-gradient(#ccdcff,#ffffff,#ccdcff);
  /*box-shadow: 5px 5px 3px #e6e6ff;*/
}
#list-tbl{
    width: 90%;
    padding: 7px;
    /*top:0;left: 0;right: 0;bottom: 0;*/
    /*border: 1px solid black;*/
    margin: auto;
}
#content-td{
  font-size: 17px;
  padding: 2px;
  font-family: monospace;
  width: 70%;
  color: #6699ff;
  text-align: left;
}
#user-td{
  width: 30%;
  font-size: 14px;
  color: black;
  font-style: italic;
  text-align: center;
}
#container-foot{
  display: inline-block;
  height: 7%;
  margin-top: 2px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  /*border-bottom:1px;
  border-top: 0;
  border-left:1px;
  border-right:1px;*/
  /*border-color: #6699ff;
  border-style: solid;*/
}
#input-box{
  padding: 1px;
  height: 90%;
  width: 78%;
  /*border: 1px solid black;*/
  float: left;
}
#create-btn{
  padding: 1px;
  float: right;
  height: 90%;
  width: 18%;

  /*border: 1px solid black;*/
}
#room-ip-box{
  text-indent: 10px;
  width: 99%;
  border: none;
  height: 100%;
  border-radius: 0 0 0 10px;
  font-size: 15px;
}
#room-ip-btn:hover{
  background-color:#0080ff;
}
#room-ip-btn{
  width: 99%;
  background-color: #6699ff;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 0 0 10px 0;
  height: 100%;
}
